# ---------------------------
# Specific Files to Keep
# ---------------------------
!data/raw/README.md  # Keep an empty README to explain where raw files go

# ---------------------------
# Data Files
# ---------------------------
# Raw and processed data
*.fastq.gz
*.bam
*.vcf
*.sam
*.h5
*.csv
*.pdf
*.gz*
*.tab
*.txt
*.jpeg
*.jpg
*.png
*.svg
*.tsv
*.xlsx
data/
data/processed/*
/downloads
/work
/.nextflow

# File groups and specific data folders
*to_combine/
*tmp*
*Tmp*
*gtf
*fasta
*fa
*star_index/
*multiqc_data/
*rMATS/
*nextflow_splicing/

# ---------------------------
# Results and Analysis
# ---------------------------
# Result files
results/**/*.pdf
results/**/*.png
/results/*

# Notebooks and temporary outputs

*combination_table*

# ---------------------------
# Specific Directories
# ---------------------------
matt_out/
renv/
rmaps_out/
scripts/
workflows/
docs/

# ---------------------------
# R-related Files
# ---------------------------
*.RData
*.Rdata
*.rdata
*.RDS
*.rds
*.tp
.Rprofile
*.Rproj
*.Rproj.user

# ---------------------------
# Temporary and Log Files
# ---------------------------
*.log
*tmp*
*Tmp*
*.swp
*.bak
.DS_Store
*.err
*.out

# ---------------------------
# Environment and Config Files
# ---------------------------
# Container and environment configs
config/docker/*
VASTDB/*

# Compiled files and environments
__pycache__/
*.Rhistory
*.ipynb_checkpoints/
.venv/
.env
node_modules/
.Rproj.user
*.log*
*png
*.svg
notebooks/*.csv
*.html
*.xlsx
reference_genome
.sif
